{{define "bucket"}}
<!DOCTYPE html>
<html lang="en">
	{{template "header" .Header}}
	<body>
		{{template "nav"}}
		<h1>Headers</h1>
		{{range $index, $element := .Bucket.Info}}
		<strong>{{$index}}</strong>: {{with toStrings $element}}{{join . ","}}{{end}}<br />
		{{end}}
		{{template "scripts"}}
	</body>
</html>	
{{end}}